{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="header__container">
					<h1 class="header__logo" role="banner">
						{% if( function('has_custom_logo') ) %}
							{{ function('the_custom_logo') }}
						{% else %}
							<a class="header__logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
						{% endif %}
					</h1>

					<div class="menu-slide__button" id="menuSlideButton">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>

					<div class="menu-slide__box-container">
						<div class="menu-slide__box" id="menuSlideBox">
							<nav class="menu-slide__navigation" role="navigation">
								{% include "menu-slide.twig" with {'menu': menu['primary'].get_items} %}
							</nav>

							<button type="button" class="menu-slide__btn-close">
								<span class="sr-only">Zamknij</span>
							</button>
						</div>
					</div>


				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">

			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		<pre>{{ timberContext | print_r}}</pre>

		{% block footer %}
			<footer id="footer">

{#				<nav class="footer__nav" role="navigation">
					{% include "menu.twig" with {'menu': menu['footer'].get_items} %}
				</nav>#}
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
