<div class="comment-form-container">
    <form id="form" class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
            <div class="form-not-logged-user">
                <div>
                    <label for="email"> email: </label>
                    <input required name="email" type="text" id="email"/>
                </div>

                <div>
                    <label for="author"> username: </label>
                    <input required name="author" type="text" id="author"/>
                </div>

                <div>
                    <label for="url"> url: </label>
                    <input name="url" id="url" type="text"/>
                </div>
            </div>
        {% endif %}

        <div>
            <textarea name="comment" cols="60" rows="3" id="comment"></textarea>
        </div>

        <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
        <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

        <div>
            <button type="submit" name="Submit" class="btn"> send </button>
        </div>
    </form>
</div>
