<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
    <h5 class="comment-author">{{comment.author.name}} - {{ comment.date }}</h5>
    <div class="comment-content">{{comment.comment_content|wpautop}}</div>

    <section class="comment-box comment-box--children">

        <!-- comment form -->
        <button class="reply">Reply</button>
        {% include "comment-form.twig" %}

        <!-- child comments -->
        {% if post.comments %}
            <div class="comments">
                {% for cmt in comment.children %}
                    {% include "comment-children.twig" with {comment:cmt} %}
                {% endfor %}
            </div>
        {% endif %}

    </section>
</div>