{% extends "base.twig" %}

{% block content %}

    {% include 'partial/slider.twig' %}

    <div class="content-wrapper">

        {# Services Section #}
        {% if (services) %}
            <section class="services-section">
                <div class="services-section__container">
                    {% for service in services %}
                        <div class="service">
                            <a href="{{ service.kalypso_service_url }}" class="service__link">
                                {{ function( 'wp_get_attachment_image', service.kalypso_service_image_id, 'kalypso-service-logo-size' ) }}
                                <p class="service__header">{{ service.kalypso_service_title }}</p>
                                <p class="service__desc">{{ service.kalypso_service_description }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {# End Services Secion #}

        {# Picture Sections #}
        {% if( pictureImageHeader1 and pictureImageDesc1 and pictureImageUrl1 ) %}
            <section class="picture-section">
                <div class="picture-section__content picture-section__content--right">
                    <div class="picture-section__content-inner">
                        <h2 class="picture-section__header">{{ pictureImageHeader1 }}</h2>
                        <p class="picture-section__desc">{{ pictureImageDesc1 }}</p>

                        {% if( pictureImageButtonUrl1 and pictureImageButtonName1 ) %}
                            <a href="{{ pictureImageButtonUrl1 }}" class="btn btn--more">{{ pictureImageButtonName1 }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="picture-section__img-container">
                    <img src="{{ pictureImageUrl1 }}" class="picture-section__img">
                </div>
            </section>
        {% endif %}

        {% if( pictureImageHeader2 and pictureImageDesc2 and pictureImageUrl2 ) %}
            <section class="picture-section">
                <div class="picture-section__content">
                    <div class="picture-section__content-inner">
                        <h2 class="picture-section__header">{{ pictureImageHeader2 }}</h2>
                        <p class="picture-section__desc">{{ pictureImageDesc2 }}</p>

                        {% if( pictureImageButtonUrl2 and pictureImageButtonName2 ) %}
                            <a href="{{ pictureImageButtonUrl2 }}" class="btn btn--more">{{ pictureImageButtonName2 }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="picture-section__img-container">
                    <img src="{{ pictureImageUrl2 }}" class="picture-section__img">
                </div>
            </section>
        {% endif %}
        {# End Picture Sections #}

        {# Logo Section #}

        {% if(logos) %}
            <section class="logo-section">
                <div class="logo-section__container owl-carousel">
                    {% for logoId in logos|keys %}

                        <div class="item">
                            {{ function( 'wp_get_attachment_image', logoId, 'kalypso-logo-size' ) }}
                        </div>

                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {# End Logo Section #}

    </div>

{% endblock %}