{% extends "base.twig" %}

{% block content %}
	<div class="content-container">
		<article class="post-main post-main-single post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
				<label for="pwbox-{{post.ID}}">Password:</label>
				<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
				<input class="password-btn btn btn--form" type="submit" name="Submit" value="Submit" />
			</form>
		</article>
		<div class="post-aside post-aside-single">
			{{ sidebarWidgetSinglePost }}
		</div>
	</div>
{% endblock %}
