{% extends "tease.twig" %}

{% block content %}
	<h2 class="tease-post--header"><a href="{{ post.link }}">{{ post.title }}</a></h2>
    {% if post.thumbnail.src %}
        <a href="{{ post.link }}">
            <img src="{{ post.thumbnail.src }}" class="tease-post--thumbnail"/>
        </a>
    {% endif %}
    <p class="tease-post--description">{{ post.preview.length(40) }}</p>
{% endblock %}